@mixin font_a {
    font-family: 'Inter', sans-serif;
  }
  
  @mixin font_b {
    font-family: 'Roboto', sans-serif;
  }
  
  //
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font_a;
    color: white;
  }
  
  p {
    @include font_b;
  }
  