// SIDEBAR STYLE

// MAIN FRAME

.sidebar_box {
    border-right: rgb(70, 70, 70) 1px solid;
    height: 100vh;
    width: 100px;
    left: 0;
    position: fixed;
    background-color: $background-color;
}

// INNER FRAMES

.sidebar_top {
    // LOGO FRAME
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    span {
        color: $highlight-color-red;
        font-weight: 800;
        font-size: 1.4em;
    }
}
.sidebar_mid {
    // MENU FRAME
    height: 50vh;
    width: 100px;
    color: white;
    position: absolute;
    left: 0;
    .fas {
        // SIDENAV ICONS
        color: rgb(175, 175, 175);
        margin-bottom: 2.2em;
        transition-duration: 0.3s;
    }
    .fas:hover {
        // SIDENAV ICONS HOVER
        color: $highlight-color-yellow;
        transition-duration: 0.3s;
        transform: scale(1.2);
    }
    .navigation {
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 1.4em;
    }
}

.sidebar_bot {
    // BOTTOM CONTENT AREA
    height: 10vh;
    width: 100px;
    padding-top: 2.4em;
    text-align: center;
    color: rgb(165, 165, 165);
    font-weight: 100;
    bottom: 0;
    position: absolute;
}