body {
    margin: 0 auto;
}

.root {
    display: flex;
    background-color: $background-color;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
}

.main_content {
    margin: 0 auto;
    // border: white 1px solid;
    height: 100%;
}

